body {
   background-color: white;

}
#im {
  height: 60px;
  width: 60px;
  display: run-in;
}

.navbar {
  float: right;
  font-size: 20px;
  border: 3px solid black;
  margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

li .active {
    background-color: #990000;
}

div.menuBar li.active a {
  color: white;
}

 img {
   width: 80px;
   height: 80px;
 }

 p {
   color: white;
   position: relative;
   margin-top: auto;
   display: run-in;
   padding-top: 10px;

 }

 .grid-container {
   padding-left: 20px;
   padding-top: 20px;
   height: 40px;
   background-size: cover;
   width: 1277px;
   span:100%;
   height: 163px;
 background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/06/19/19580f1d0ed3690.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    border: 3px solid black;
    margin-top: 50px;

 }

.grid-item {
display: inline-grid;
margin-top: 0px;
margin-left: 55px;
float:left;
transition: transform .2s;
}

.grid-item:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#king-kong{
  width: 300px;
  image-resolution: from-image;
  background-blend-mode: soft-light;
}


#mix {
  background-image: url(http://st.gde-fon.com/wallpapers_original/243414_tekstura_metall_zhelezo_3885x2565_www.Gde-Fon.com.jpg);
}
.dropdown {
  margin-top: 20px;
}
button {
  box-shadow: 10px 10px rgba(0,0,0,0.4);
  border: 3px solid black;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/104/054/non_2x/vector-geometric-yellow-background.jpg);
}

.top {
  border: 3px solid black;
  height: 255px;
  background-image: url(http://www.transformproperty.co.in/blog/wp-content/uploads/2014/05/Dark-Grey-Background-103.jpg);
  background-size: cover;
  background-blend-mode: darken;
  width: 1280px;
  z-index: -1;
  background-repeat: no-repeat;
  }

.contacttop {
  border: 3px solid black;
  height: 175px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  margin-top: 150px;
}

.topnav a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid black;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background: -moz-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(179,179,177,1)), color-stop(16%, rgba(185,184,169,1)), color-stop(76%, rgba(252,243,70,1)), color-stop(100%, rgba(252,243,70,1)));
  background: -webkit-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -o-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -ms-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: linear-gradient(to bottom, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  margin-top: 65px;
}
background: rgba(179,179,177,1);
background: -moz-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(179,179,177,1)), color-stop(16%, rgba(185,184,169,1)), color-stop(76%, rgba(252,243,70,1)), color-stop(100%, rgba(252,243,70,1)));
background: -webkit-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -o-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -ms-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: linear-gradient(to bottom, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b1', endColorstr='#fcf346', GradientType=0 );

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 950px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid black;
  }
}

footer {
background-color: gray;
left: 30px;
bottom: 30px;
 display: block;
 border: 3px solid black;
 margin-top: 25px;
 float: left;
 margin-left: 60px;
}

.nice {
  float: right;
  opacity: .5;
}


.hfoot {
  float: bottom;
  left: 30px;
  bottom: 30px;
  float: right;
   border: 1px solid black;
}
#fudge:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
} {

}
.mind {
  margin-bottom: 90px;
}

#myCarousel {
  height: 225px;
  width: 950px;
  margin-top: 55px;
  margin-left: 10px
}

#idc {
  border: 3px solid black;
  margin-top: 40px;
  height: 1250px;
  width: 1000px;
  margin-left: 150px;
  background-image:url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/06/19/19580f1d0ed3690.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#back {
  background-image:url(http://www.transformproperty.co.in/blog/wp-content/uploads/2014/05/Dark-Grey-Background-103.jpg);
  background-attachment: fixed;
  position: sticky;
    background-repeat: no-repeat;
  width:1280px;
  height: 1250px;
  background-size: cover;
}



#mochi {
  width: 1280px;;
  height: 100px;
  margin-top: 0px;
  border: 3px solid black;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfkvfy-FDsoFJ1jp0AGRPLN01ZvXMS7O4kOcjbz2ygGsAv9Tl0Ag);
margin-right: 0px;
}

.item {
  width: 950px;
  height: 225px;
}

#full {
border: 3px solid black;
background: #0060f5;
height: 1000px;
width: 1000px;
}

#half {
border: 3px solid black;
background: #ffff5a;
width: 750px;
height: 1025px;
margin-top: 150px;
}

#man {
 margin-top: 300px;
}

iframe {
  float: right;
}

#video{
  margin-bottom: 285px;
}

#video2 {
  margin-top: 380px;
}

#noon {
  color:  white;
  font-size: 13px;
  margin-bottom: 60px;
  margin-top: 30px;
}

#ready {
  color: white;
float: left;
}
#toot {
  width: 450px;
  height: 250px;
}

#depth {
  background-image: url(https://img.freepik.com/free-vector/metal-background-with-a-spotlight_1053-137.jpg?size=338&ext=jpg);
  font-style: oblique;
  width: 580px;
  border: 3px solid black;
}

<<<<<<< HEAD
=======
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Contact Page */
>>>>>>> 6bf788b192aecac20191f6aa4e0e6f860fa614fa




/* Contact Page */



.contactform {
  transform: translate(-180px, -20px);
}

.contacthead {
  color: white;
  font-size: 60px;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 880px;
  margin: 90px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 870px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  background-color: white;
  outline: none;
  color: #726659;

  border: solid 3px black;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background-color: white;
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 870px;
  max-width: 870px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background-color: white;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 3px black;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background-color: white;
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 870px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 3px black;
  border-top: none;
  background-color: white;
}

#submit:hover {
  color: grey;
}



/* socia media icons */



.social {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translate(-8px, 200px);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 50px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 10px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.youtube {
  background-color: red;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}


/* contact page end */
