body {
   background-color: #DCDCDC;

}
#im {
  height: 60px;
  width: 60px;
  display: run-in;
}

.navbar {
  float: right;
  font-size: 20px;
  border: 3px solid black;
  margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    font-family: inherit;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

li .active {
    background-color: #990000;
}

div.menuBar li.active a {
  color: white;
}

 img {
   width: 80px;
   height: 80px;
 }

 p {
   color: white;
   position: relative;
   margin-top: auto;
   display: run-in;
   padding-top: 10px;

 }

 .grid-container {
   display: inline-grid;
   grid-template-rows: auto;
   grid-template-columns: 80px 80px 80px 80px 80px;
   padding-left: 20px;
   padding-top: 20px;
   height: 40px;
background-image: url(https://www.army.mil/e2/c/images/2018/09/04/528824/size0.jpg);
height: 250px;
 }
.grid-item {
display: inline-grid;
margin: auto;
margin-top: 70px;
margin-left: 130px;

}

button {
  box-shadow: 10px 10px grey;
  border: 3px solid black;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUSEhMVFRUWFhoYFxcXGBgYGBoWFxUWFhUYFRgYHyggGBolHRUYITEiJikrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGi8mICUtLS0vLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAQIDBAUGBwj/xABEEAABAwIEAwQHBQYFAgcAAAABAAIRAyEEEjFBBVFhEyJxgQYyQpGhsdEUI1LB8AdicoKS4RUzwtLxk7IWFyQ0Q1OD/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/8QAJREAAgICAgMAAgIDAAAAAAAAAAECERIhAzETQVEiYXHBMqHw/9oADAMBAAIRAxEAPwD1sU0FisZUWWbLRXyJ7aSmgIkJYoYKSXs04OTgeiAjyJC1SlJPRARFqbClJQSqCKEEKSUkoCOEJXFNVIKlTESgHpEyUSgHpITJRKAdlRlQCnAoCMtSZFLCISxRCQhSkJpCEojQnwlDVbFDQE8IhEKFFlLmTYSIB+ZLmUaEBJnQo4QgLcBEDkm5kZlg2OgJYUfaIzoCRBcoi9HaIQk7RNc5NL0zMgFJSSkJSSqQdKQlNSEqgclTJRKAcUiSUShAKanSklUCJEqRCCgpwcmIlCkoKVRApZQD0sJkpZUKPlIXJspJQDpSSm5khKpB8pJTJSSgHkolMlJKAfmQmSkVBYzozqKUoK5miTMllR5kudCj0FNzpO1QDpRmTDUTcyEJcyUPUMpZQExcE2VHmRmVA8pqbmRKEHJCkQqAQhIhARCJRKAEIlIqBUSkQgHSiU1CAdKSU1EoBZRKRUeL8WpYZnaVnZWkxME3PQIC9KJWHhfSvC1JyPcYa50ZH3DfWy2uRyCnd6RYYU21TVaGOmCbTBg211SyGoSsqj6S4R5Y1tdjjUdlaAb5r2I203XBcZ/ac6m6rTZ2byHDs3t9UtB7wdJ1iwhea4vHvqVC89282MRN7HZYc/hGz6ba8G4uhfO+F9K8RTaGMqQ0aAARckn4lCuaJbPorMkzLzV/7Rq1opUxe9ybbxdO/wDMaptSZ8fqrgzXkR6TmRmXmrf2iVf/AK2eU/VSH9oL7nK0eR+qYMeRHo2ZLmXmp/aDUGzTb8OnXX9QlZ+0Z+9NvuP+5XBjyI9IzIlef0vT5ztqY8Q4fmrbfTgkSGMMRPeKYMeRHayiVxzfTXbs2z/H/ZPZ6Y3u1vvgxt8EwY8kTrpRK5UelRMFrWx1zfBK30nfN6TcvR31TFjNHUyiVyLvSas4wxlMdCZPwPJTUvSOq2DUphwMwac/mmLGSOolErDw3pE12tKo28TEqzW47Qae8+OsGPDxUpltGnKJXFcc9J6hA7GWMMw+2Z0ch7IWE7jFcn/OfMz6xW1Bsw+RI9SlJK80oekOIZH3xPR0H3ytOl6Z1AO82mTzuPeBKODC5EdxKJXAP9Mq+3Zgfwn6pB6bVmiXNpkbmCI+KYMeRHoEolef4f8AadRz5KlN38TLt6zMdNFe/wDH1FwmnTLhzzAfKVlKy5I7GVA/GsDxTLgHkSGzci+nuK4LiX7S8rfu6FwO9mdYactfguM9IfTN2JdSqtYynVa0tc5pMmbDwiTzWHKjVo9px/GKFAgVqzKZcJGZwEiQJHS6xMd+0HAUnZTVLu9lJY0kDqToR1Erw6pj3wGk5hpfWN4JuPJVa1YaH9eKmbM2ekem/pyx9XLQqVcrDEscGsOhzaS46jWN1lek/pGK1LMMTUqO9XI5uUZebmtcWTc3gGwXGvIIj43N+iiAgyTPJS7DZsM43WawMFRzQAbNtrrJF7pjcUTSqySR3bE7lwkj3LKFS8qxSrHs6unsa+J0UaCKlV0kkplSqTuo6jkxt1tIyKXITSULRTs+0Cb23X3QqprjKSBP1RSqS2bi+i1kjFFntTspGGZ+PQ7eSqOET+v+ENr9bwNxsIRsqLeGfJI3LbW32UTnGbDX/lSUHnMHb203Ig/G3xS1HtabDSI8Yv8ArosZ7NY6Buvlr5Sfooi43k/klr1NPL4JtdoJcZ8+d9veqpEase2p1+fzSB/mqziSBH6ukfI2K1ZmjQo417RDXEDxtdMbjKg9s++fgqQHxTnggTp/b/lWxRq/4k8CxE81LgeOPpkEw6DIHXWywr9L809txcX26HxSwdzhPS+nMPY5rXaxcCdwdbLRdiKWJEse172jzI5gG68zcXCxHRamDZkyvaSHgyB4cys9Gk2zZbTqOcQ1pnoE3EYKsDsDykBdDSb2zGOd6zmh0s7wE7PaNPFYvF8PWouFp3DhcCLz/wAq5sYIp1sFWDS90ADeflzURpOtJaZEi4t4k6KlxXiFSq5pe64aBpAgbwFn0y5xyiTYm07DdVSZlxRsueWmJ06gjyhQ43FxTdNwevyWU2qYkkW96rYrF5mQo5+iJEIfe/6C6DhAyMMaH9XK5lgI3VtmLe0jKYA1HPST8FzU0mae0O4tWLqrgCY0j523WZVPuU+LxAqOzDWI8VRrtJ5ws+yonDy4nZRVHXQwwDM+aZM2hWgGe95UzHEGDcJlCmLki23ipT8go2Ua4pWVB2VS2pZHvcohJFuaSkfu39S34ZlUVFeo9PpusoyFJTYSQAtMEog3uhSgkWHySLnYs7UipBD8BQO5yl7b+Tk0NaNeHu/lrP8A9QK5inXgau8nO+qe7EO9mpUj+N31W818FG7Xw+HcL4fFt6Nex3/c1RDA4W//ALtnjTY75ELMHFXAQKlTye76p9Hi1ST99V/qP5qZL4DZosw7f/nqDlmoP/ImyV9KiTLcRT/mZVb/AKFlN41UOlZ89YP5IqcZrxaqT4tYf9KlwN0zWZhqZLf/AFFC2vfj/uA/RVv7ACLOpOO2WrT/ANy5lvGq27mn+Rn+1OZxh8w4Uz/+bPosuMX7YTo1v8IqifuyeQbDvlZQVuGVzBFGpvq0qkOJun1KP/TH5J3+KPmzKY5FrXD4hytruxWqHVMHUbdzCL8inkkDzOu1hspmcaryIz6bOq6/1QrLOKVzqxx8Q8/OVcyKBlZHa3jp81FUt61luu4hXju4e8W+7H+xMe974D8ISbSchHyankZMDFN9TroSuk4bgc4DBmzGIgAg9CSe6LdVGMPIj7I7w760sCKtNzXto1Rl0E2uCCCCNFnyM1GFHWYDBCkwU27Xcea5L0nxdQuOU2bb8lqt4rijfsXAHY5ReddeSzeJ8MqVwA5rmmZkZTtuAb3TM046OTxwdOYyZ0hN4f60gx5lb+J4JVDbGYFgWgbI4dwXEG3Zgtv3jHktqejng7Of+yvfLW3M6frRPwfBCSW1JBAkNEX2mdwupHAMSGgETlLiDb2tjdVKfoziCbl7myDFjoZtey4OcmdFxpHI4rD5HAEiZ81Sr1CXWK7St6HVHOJIeL8ueoUbPQxzbw8idMt55qqddmHxs48EkwB8PNBa4iw/4Xb0/R1wNqb/AOlOd6PvJ/yn6zoo+R/C+L9nE0sG9zrC3Pzgp32ZzSYueY5aldwzg1VogUakdG+ShqcDqh09jUk8mmFPJL4XxL6cW9xFiCBaEdm4giL/AAjddXX4BUNhRqc7sdr7kyjwaqyfu3/9Nx38Ez/RPFTMLhvDS/qZ0Cs/4SAS0tI0kc4/5XRljhZtFzf5Xa+66ZDiLtcDN+6Z98LD5JHRcaMujwZgPqgDqpqWAptmw0gEDrMq2/EEWa0zzIKhqvERp4BZuTNUkc/XwsOIBEDohaTsMw3uhdMjngdJ/wCB8MTftP6wPyVkehuFiMroH75152Vw473c9b3nRDce3bWbWidtI6LuXRTZ6GYQXyE/zu+qnZ6K4QQeybI/ed8bqz9ruJ/vyuNUra17k/npOiFohb6NYMGexZ7ipv8AAsKB/k0/Ns/NKap0AceoBj3xv+ScwnrMjZ3PnHL5oBg4ThgZFClMfgb9FIMBQGlGmP5W/RJ2o5nS8DpyP6upJB0DrbCBtvfysoAZRpDSmwfyj6KTtGjYBRCoNcrjpyt4wdU/PNsh56iT5TZAPFfkEn2k8vmoRjW+yHW16W3vI2QcQ6J7w8iYNtBsN1QWe0d4e/6Jc55/A/RVGVnCCTIIvEn4a3vbokNXlcwJ6C5vJFuvzUsFrtJ0cgVD0jzJT8Ngy++WBeXEgDyO6svwjGEHNHgW8wOdvFcpc0Vo6R42ysxrj/cKxUeym2470frTQJauKc1hc3NOhEh0GQGmWjS5vtuuT45jIc1ge7fPeM38R310j3rmnLkdG2owRpYHEudVc8OjbXluCJtdX3h5N5P63XPUahYAGnLJ841v0i9pRja9VzT33eVtjyHQ+5eikjl2bZYIhx+ce4qSlVLB3Mt+UAn3LlaFNzh/nEHUyTbSCYTa+IqsgdrmAvFz01IK0ZO1bxEgd6W+IPzUreKN/EFx2E4+RqPZ3mJOsADQLUZWpPANnT7LR3pOltQDIuREEc0B0jMa06OB+Kc2qDyXPZD6zHARtsTtbnr7kMxbmzmvpli94kyNYk+cKA6E027tCYKDT7I8lhN4mWHvSATbWw0nW2h9ysUca8kgZsp6REkix5W3VBq9kPwx5QkcwD9ELIqcVc2wN9OYNr3Ghsbc7J1PjTSDLj5EXtM7ax0QhqW/Ef6j9UHTV3vlVP8AEGD1n76FpF+ROm/wJUgxbb+qR0HWCZJ0n80BOWfvO+B/JROp9T/QD+SA4H1YkiB3otAnLBM+XJL2kNvmbtBv47HkhRBRJ9of0BCYJ5tPi0oQhi1KQbEtMdL2JiQRMeR3U1HJ+B5GhJOlyIudNbKjiMVmLQCxoi7naFvQXB5z4BQPxLHOjNUnbNJAnYsb3rjmNwhTXYabYaRlmbdB1jXpOylZVjLdpm2UzmIjWb6eHisShQe6c5LQ1wiC91zsSJM75T/ZNrCi0EHK4tIbuD3r6FsAaXtqlA1RXBa4tzPsbCPgAPz9kqKnjxzEQNTAm8tbA1Mb81Vp99pcDB9UuaCQATMBxkEjnHmCh+EOfsy0kgiHWNyO8BpcxeBaCgLDqwJLshdY6HQEE6TGnRNr48Pb3QW96zrAbC0mJ6XKbSDWgODXZvVluYm5uXTADd/LyTG0WvY7IHAwDJJ6EesTDiJ1UKWqrXggExprpMXMgXsh4ES5xBtMkRtNgBGuu3vVbE0uxDXZ7Edbcs2XeOpVGlVa5xzF7rCWtLhcmTM6wTN0sGvSqzmyCfCCdYNh1vr1TK3cIaXM1k2tygwfOAJkeMT4PhRqAAsdTbBJfJDyTOzIAlauEpUaWVjQJA1ILnQLakRK4T50tLZ1jxv2ZLOG1HyBJBAGa7QAAPZJkzz0WhT4P3QSR3dozXgDYEdd1fNYzA7vWZk8r/roko0nDNJJMG4geEZt+q4T5ZezpGC9GZXD2ADOXc8pc4jlNrqhiuIljm5mHS0tABm0zM5RJmB81c4jg6bmudmNQCe6YALtu81t289R8lncJp3z1ACeyhxa5zoDmkDUkARNr6C2iQakt9CSa/km4nxoUaQpd19Rw9aMo8hyHVY1Ph7s7nZdCHkZu8BlzRAb0JsNPeq+LxNGpULSXd0kMfczMexGvKPNS0QwGXMfTcHSamY6OsCQT3fCYXtgqR55O2TVnvaRcd65vfX97QyfiEYmmWzZuY3yjK86iA4jyOpsmVWCBlYe9MXaRA0uAL6+HzsuwAaM/q6EBhvEWDjIi/Mc+SrIjIZXyOaQ2dyIiQbEGLKXiFNtiwmDeCO8Dy3Ku0sU0OaALPgh2RhLTMgQRBi/L6xPxtZnqBwuZMN57w2L/RRSd9FcUY72g7unlppfcXTMO/K6b6TMx1uIM8lp1MRiCdARfukD8oVE16xMfQflZbt/8zFIs0+OOa0Ne0vgmDmEi9/UgnqCd9lq4XisiA4kTN4j1fVMyZNwAOW6xMjpbLZIgmYiNTeSDIGqZScdbC8QANI3N9puByKdg6B+LcWh5BykDKRYEk2E84BuR/eVtMODhmbqNi4lrgACQBHtG56hZ7ccezOdrmgXAcC8GYk5gAAIvAAN/BSdpTkHMAYcXCHOgtEaCdduVtyVCkuHo1TmJeAAReYANgLakGQIHJMdi3A+u1jge9IdJGw73j0+KBUYMzXOcHR3iXNLQSWuaXQJNyLxrdWmUs0tDXugjNDZFtCZbOtpFrK2QiPErEgZjpeSDIPfBsPIhMZjAYLwLeLi1t76EgEwIncJteiTIAqBoAhxaWDKBvpYA+cbSqj8LUOj6sXzfdyZLQ+wFrjLqRM8k0DUr4lzbh+jbgug2HlMCNBMxZDcc8OjM4kgn1i4RIJyknWx0vp1WTiqZBAa1wncuc4NPdEuAGpgGNouk7UtcW1GuzDQaG5EuAIjTw5jkqQ36NYFoJEmNS9wnqQNEiw6tZrSWuZWkG8PjW40ZyQlC2aGJdUdRD4pd42Ltrw0wXmXeUapMzgyMwJAzF1szTM5ojpEAxKZhmU2Pc4OOZ0BuVhqaXdE+qVIcQRJdnhsOuWtiTpHOQDcrJoMJ2jgCHPyOvLpguJ0DXnNtrMK5Xou7oa3PmuXezMkA5TINt4+qpU+LsMuDw4gWc4DMXTeRm08ICq0MXmc7PVbMeqCGCdJkOuel1Clmm5xeYiGSSwNmIJFxnsAQIHwTji25ZLGN8RbSSSY3nmqVDibTmytDhm9QkyQPaDh+tU+viS5hc12UOcJaLkWgESOSbKWjxAOiC7LTbJe6HNba14zOJmACNlWpVX6tptyucQXPeYHqmS31m6AzE22T8NwysSKjDS2jvEPceY6xtK0atGASW/ez65Ic6DtYEDwuuL5kja42Un41z3FlOo1zJF5MZjA7kyedybSVc4VgOzfmdUpWGksJnTVwg2/Wyo1sM50Gox3aH1SWNjyywB7lo8GaaEnsmPPMsDTb97RZnJtGopJm+5jHD7ztHM3cXNDTtEU9dVXGKwzXCkxnZ33lmb+q5lMrcVeYJ7AHa8kdAOagwlNtSapdOYkB5aO4BrDiBvyXntRidatm1WxTaYzOIZDgCTeS6wAPOSFg+kFOpVrGlTc8S3vAHKCM8tIi4cIibjRJ6TY3ChjBUe+oQ6GAPFzEmT9eSo/bzTY14Dcz2i5GaWiYbU1kX25aK8PHbyZOSXpF1tAZWBrM4a2T94XuD/3RMddfJc/xbGlssYA3nlF/wCEuBManTdXOLcXcwSA1kxkDCRPN0DQX0WJw/B1HTV7Mvb/ABRJ5ukyF6OGGrZy5JbpC4XGAEEguePxQ4Ej8UAHznxstCs+iQ4lhpknvMk5BeBBBB16bFQUMLIJLqLWnuxmBIkiA4ufcbzdXm1mUi0MozDZu9gY4zDiTc7DQTK9H8HEYKLbObVmmQA7vFxnkRExbrF0YXC1IlpLQZ70Wc2RlBuAGwNJ2UGJxFQPLB2bAx0jKyZ3sYMxyKzmuMg5nGHTEGx0mPBWhZsYt7WUwJLnB2hNNzRIgwY6fFU8Tii5rXZnE7guGugMAcklDHtaQCMwIl0hsgmQZ87qQcVa1sNpUwJzHy2IzbxsudU+jd/sp0mPeZAaZv3iCNdwdAp/sdQHRpI2DcwjxlGK47Uf6ss0jKA0ec6pxxeIiXQdId9IgFa/L9GfxKr8vttiRALf9s3VV9KoAZD4OuoBG1larVbmBc66tg9FEyu8ahxkXu7TxC3sy6KzKmXui41gwfGxFtOaXD1XMM0yGxqLRzvPrC3JJi2NPea4kxfxB6qB72nWSf10V7IbtPi7ZOeRIALWdxum5LSSCS7yIhWftIc5rspqF7Q2Q4OvMgZe6RG8jbTdcuObWl2n4rROmkqHDsL3EEGGjMegG9yExFneYGrWLqjXTJBdlLczQCIa1gF2uMHQxr5DgwNkiA2Jp5XAkmAyAHZ5F+l/Bcnh+Jd4AuAAsHDYaEtBBuY1Wxw00n06jjVyZScpIaJF4zOAsDEAiCstFs1MC45ScvdBcTnBAPdMimNQb6a6kqu3DmmxpNUT7OZ4AjnTLh3W+rElUcZUaabSxlZuZ895tS2whwADpuQVZwOKFNoLy5xacwa4RofZLqZMjug++UBFiHVMxh83iRUYBa2ggJVdp4VtYdrUNcOf3iATABNgJB2hCoso4TAVXsDnU5ZaajHAl17Tm1T8Rgnd7KwkyDGXlbnAUjOINw4zupguBloJkB53yiwIQ/jtXFtc14bTYSBrDnHrFyFzu+jdUR18O5jhkovJdZozNN9zDTb4LOwbXZ8r6UvuMsiBsLiZ962aWBGZofUs0Wb6hjx5K5RxGRzjRe2AOeY+ZXJ8npG1D6Y9Dgji7PUIpi8gct4GkFa1JlKmwtYWw7c+u6LRYaJx7zhmf2hPIjXyClo4YtcXQIG8GfILlKd/5M6KNdFBvDQxzHU2PzXvdvnIWmKNYOH3AcDcumADsb6rS4JxCkZDngDYE+9bOUFsNs07z8lwlzSvaOi41WilhOG2+8OaTYXaAI0sZKU8EwoGU0pHi4+NyUr62VwaG253I8yqlXjjGvLalouSHAjpK4qTbpbZ0aS2Z3pBgWvMU65p5LuphrDIkbH9XWDS4eX0y3tBTOaRla4auhpPsh3MK3i6NHGZqrHClVaO44HUSYlp1U/CKTqIDRUbWc8yBmkHLcujTXzXu4oyS/L+jy8kk3ofjadKnR7AvbU3Ly1ufPNzO1/hZYuCxL6NMgPFQiZk5oJ2Oy1ncOfVqPdXaBpBJAAEXgTzlZfpFjaVICk2m0x7Q/OESuWPf9FbqN9GBiMSX1M7w1s6RMeYla7HNdGeuKQF2fvDQ6a6dFhdo2obNjwuPPkrOHpOJbDJI1GsDwXtpUea9mxW4jSim1rp75B7gJH4SZF1Y4lxGg0S3v1OYDmQd82xHSFQqYnMZZUykQSA3LcbAc1VY13ebUEPM952UkgkEhx+ilAk+2MDswa/WTF7H8MRe6s1MZTI7tNxvdz8ubKbWiPmmYhweWmkzs7AWJidJCrDDm92kjUEGJB5pouyXFNYDNMhwFiRIdfYibqxjsES1pgBotPdgbmfPmqz4nK0AZjPdNpjWSrlXA0w0ZqzQIBImbnWYGqw3Xs0lfoqmoJlrRlHd2m24Cj4jxCqcsWbtYec8lr0X0nMPeJAMZgNLTEQE2rwugwjtC4tcJkNNp0JhZjON0yuL9GNS4kHWLZ5krToOo5YyCQNTPwKvP4JRpsFQPsQZIE+Fis9mHBOZrXPH9M9VrJPomLXZHXpiIDmgH89isWrTLSQCI+PkVr4jDEOmDHIuG2yz6jy4w1pv5+5dIsxJFTe94i0zZIwAuOawM9Y5IqNM3BClpFo13G4JhaMkVai0AjK68QQRlkc5F/gnUGNLSahdBMABzW3jlBkKzh2MJ71RsDaCPko30WnQt1JAcTEdJF1LLRc4Pjss06lSq1hFsj7ZgO7m/djYK2yi+oXNJNWmSRHaCWtJEGYNyRG6wHZHE5iGEaANME9Z0UlDiL6ZPZvcwkRLXQSPLVKJZ31Lg2IyjO/vRfLlI6XLgTZIvOziawkdrU1/E7z3Qpiy5HY4b0Xkk1i4DYWM+5LjMFTplraTHEzeNT57LSHGWMdam53iZUGJ4xUqWaGNv5wvAp8jez11BdGbWwhc4lrMrj+LvK9wyjiGkte1sfigX6BSUKbg4Pc73K08OztGY97pYJPkpbEY29FihgGi/quPLX+yko0yA7va8zKZW4PiXQRWaweGqkwXAajSe0qy0iYbYz4rhLlS2dFAoYmiAQJOYjSBB8VtcGqNNNpHeIERy5hRMaymMwBMGAdVWxfFHUQ94LWtDe6CIJO65cvLTSb7OkI+0auNZJi+mgs3zG642vgaVV1UNcBUGrfZI6A7rX4Lx/7Wwlwyd3fn0K5/AcGecQ97jLSCR0HKV6eKHjvPSOPJLKsTf8AR7guUOc8SIBa8aC0QJ0V2vVbRFsrWzcmNOhCxuKekpbT7CnUiBBnnylZD8S6o0seQ6N26ea65uStLT9mMUuzU4s6lUpmKpe4eqAYEfvFcbUoneJbrdTcRAb3Z15Knlp2s4xrK9PDx4KrOHJLJ9Flhc6AGnTkfirfD6NRtQE7n2h3Y6lZdXFvLiacgeK08DiDUAFR5hom+hPJdWtGEzeZwmQ8A0nZrkEwQ790jZUP8uRGd7gb6xFlJhaTBPaEMsSDF9LAFZ7eJFjSGgGfb3WEaLGJrEATDS3kNRzKnweLpCXOpB1Q6ATl8xzWbh8Xldmc2SedwFpMrGqQ5r2iDOkKPRVsixQfLqjqbWme7ewG4jVV6Fducud7o5rpeGYgvD2kMqPic7xEdAsFmFeKhyNkG2YiW+IUtMtNENfEx7RI5AW8+qvu7N1EdmauYASJJA8ZT+IUoIbnh0WAAglZFU1WPMgOJtO3mFlVI07RtUuMURRLKpcXC0ESCqVPHU92d3YyR8lSp4TEBxLWtPMRqElbA4i7izK3YH8lrGK9/wCzOT+FjH4hhBe0MGxBJJJ5idFltqwA5hgzeLKRvDKj59mL3+ihFBokOJBHILcUlow22T1Krn3dmPK3xVeuDMi3wQzFPJjMY08lrYV9FoPaAOJFlW8fQWzDZRJMBwHjZTYqlk7uZriORkR0UVRwkyIBOyjeJ0cIWzBNRykEOIB5xKDw8WcDmAOwN02kLQY806lj305yOLeg0WXfouvZYq0mEkupOne/9kKqce/coV2PxPR6VOk0mw62Ta9Smz1WgT0QhfMZ7US8IAquIFgNStrFWaQAAfxaoQvLJtyO8VSKDeLtaA3MXnTSFLjuKFrZDdUIV/xnEPcWYvF+KVOzGZwb1AUP2mnUw4zDtHTvb4oQvb4kna+nmzbWzTweJZYFjWta31QPzWdxB3aub2RNNrxED4oQu00pKmc466Mji/o72YADs0umP7ooUYa4HuzyQhcYybgdHFKRl4/CguzXPiVTex0GY6BCF6oPRwktj8HhQ4AEkTuPonimKbnMzZgLi0XQhbTtmWqRNUrOeYqE6SANlb4fw/OCW2adzcyOiEI9ILZBxA0oApF2YeuToVO5jajg2m7LbluhCktIsdsZUrvonICTzPiruHxBbTALzBtlSoXNq0ja7I8MWve7N7OhSUQzP3yTm06IQpW2i+iat6Qmi4M9YaTEFPwXFDWBa4wfZBEiEiFXxxxsmbyoh4nxN1GCWtdtZc7i8Qari6I6BCFviikrMckndFdhLbj4pftToItdCF17OZDTrEkAiRKuVXUZtmHjdCFPYIqr2+yFNTo0wzMXEu5RZCEYRGaM3shCEsH/2Q==);
}

.top {
  border: 3px solid black;
  height: 255px;
  background-image: url();
  background-repeat: no-repeat;
  }

{box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  margin-top: 30px;
}

.topnav a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 950px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid black;
  }
}


footer {
background-color: gray;
position: fixed;
    left: 30px;
    bottom: 30px;
 display: block;
 border: 3px solid black;
}

.nice {
  float: right;
opacity: .5;
}

#map {
  height: 150px;
  width: 150px;
}

.fbody {
  float: bottom;
  left: 30px;
  bottom: 30px;
  float: right;
}

#nava {

}
