body {
   background-color: #DCDCDC;

}

.navbar {
  float: right;
  font-size: 20px;
  border: 3px solid black;
  margin-top: 9px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    font-family: inherit;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

li .active {
    background-color: #990000;
}

div.menuBar li.active a {
  color: white;
}

 img {
   width: 80px;
   height: 80px;
 }

 p {
   color: black;
   position: relative;
   margin-top: auto;
   display: run-in;
   padding-top: 10px;

 }

 .grid-container {
   display: inline-grid;
   grid-template-rows: auto;
   grid-template-columns: 80px 80px 80px 80px 80px;
   padding-left: 20px;
   padding-top: 20px;
   border-bottom: 3px solid black;
   height: 85px;
 }
.grid-item {
display: inline-grid;
margin: auto;
margin-top: 100px;
margin-left: 130px;
}

button {
  background-color:  #ff6600;
  box-shadow: 10px 10px grey;
  border: 3px solid black;
  background-image: url(https://c1.staticflickr.com/3/2545/32808004845_8c2b80f6a7_b.jpg);
}

.top {
  border: 3px solid black;
  height: 255px;
}
