body {
   background-color: light-gray;
}

.navbar {
  float: right;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    font-family: inherit;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

a:hover {
  color: white;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2.5px;
}

.jumbot {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2.5px;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}

/* break repair */

.img {
  -ms-transform: translate(50px, 100px);
  -webkit-transform: translate(-500px, 45px);
    transform: translate(100px 100px);
}

.BreakRepair {
  -webkit-transform: translate(76px, 55px);
  transform: translate(100px 100px);
}

/* break repair */

/* Oil Change */

.img2 {
  -ms-transform: translate(50px, 100px);
  -webkit-transform: translate(-230px, -90px);
    transform: translate(100px 100px);
}

.OilChange {
  -ms-transform: translate(50px, 100px);
  -webkit-transform: translate(346px, -69px);
    transform: translate(100px 100px);
}
