body {
   background-color: #DCDCDC;
}

.navbar {
  float: right;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    font-family: inherit;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

li .active {
    background-color: #990000;
}

div.menuBar li.active a {
  color: white;
}
 img {
   width: 80px;
   height: 80px;
 }

 p {
   color: black;
   position: relative;
   margin-top: auto;

 }

 .grid-container {
   display: inline-grid;
   grid-template-rows: auto;
   grid-template-columns: 80px 80px 80px 80px 80px;
   padding-left: 20px;
   padding-top: 20px;

 }
.grid-item {
display: inline-grid;
margin: auto;
}
