body {
   background-color: white;

}
#im {
  height: 60px;
  width: 60px;
  display: run-in;
}

.navbar {
  float: right;
  font-size: 20px;
  border: 3px solid black;
  margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

li .active {
    background-color: #990000;
}

div.menuBar li.active a {
  color: white;
}

 img {
   width: 80px;
   height: 80px;
 }

 p {
   color: white;
   position: relative;
   margin-top: auto;
   display: run-in;
   padding-top: 10px;

 }

 .grid-container {
   padding-left: 20px;
   padding-top: 20px;
   height: 40px;
   background-size: cover;
   width: 1277px;
   span:100%;
   height: 163px;
 background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/06/19/19580f1d0ed3690.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    border: 3px solid black;
    margin-top: 50px;

 }

.grid-item {
display: inline-grid;
margin-top: 0px;
margin-left: 55px;
float:left;
transition: transform .2s;
}

.grid-item:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#king-kong{
  width: 300px;
  image-resolution: from-image;
  background-blend-mode: soft-light;
}


#mix {
  background-image: url(http://st.gde-fon.com/wallpapers_original/243414_tekstura_metall_zhelezo_3885x2565_www.Gde-Fon.com.jpg);
}
.dropdown {
  margin-top: 20px;
}
button {
  box-shadow: 10px 10px rgba(0,0,0,0.4);
  border: 3px solid black;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/104/054/non_2x/vector-geometric-yellow-background.jpg);
}

.top {
  border: 3px solid black;
  height: 255px;
  background-image: url(http://www.transformproperty.co.in/blog/wp-content/uploads/2014/05/Dark-Grey-Background-103.jpg);
  background-size: cover;
  background-blend-mode: darken;
  width: 1280px;
  z-index: -1;
  background-repeat: no-repeat;
  }

.contacttop {
  border: 3px solid black;
  height: 175px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  margin-top: 150px;
}

.topnav a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid black;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background: -moz-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(179,179,177,1)), color-stop(16%, rgba(185,184,169,1)), color-stop(76%, rgba(252,243,70,1)), color-stop(100%, rgba(252,243,70,1)));
  background: -webkit-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -o-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -ms-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: linear-gradient(to bottom, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  margin-top: 65px;
}
background: rgba(179,179,177,1);
background: -moz-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(179,179,177,1)), color-stop(16%, rgba(185,184,169,1)), color-stop(76%, rgba(252,243,70,1)), color-stop(100%, rgba(252,243,70,1)));
background: -webkit-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -o-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -ms-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: linear-gradient(to bottom, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b1', endColorstr='#fcf346', GradientType=0 );

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 950px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid black;
  }
}

footer {
background-color: gray;
left: 30px;
bottom: 30px;
 display: block;
 border: 3px solid black;
 margin-top: 25px;
 float: left;
 margin-left: 60px;
}

.nice {
  float: right;
  opacity: .5;
}


.hfoot {
  float: bottom;
  left: 30px;
  bottom: 30px;
  float: right;
   border: 1px solid black;
}

.mind {
  margin-bottom: 90px;
}

#myCarousel {
  height: 225px;
  width: 950px;
  margin-top: 55px;
  margin-left: 10px
}

#idc {
  border: 3px solid black;
  margin-top: 40px;
  height: 1250px;
  width: 1000px;
  margin-left: 150px;
  background-image:url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/06/19/19580f1d0ed3690.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#back {
  background-image:url(http://www.transformproperty.co.in/blog/wp-content/uploads/2014/05/Dark-Grey-Background-103.jpg);
  background-attachment: fixed;
  position: sticky;
    background-repeat: no-repeat;
  width:1280px;
  height: 1250px;
  background-size: cover;
}



#mochi {
  width: 1280px;;
  height: 100px;
  margin-top: 0px;
  border: 3px solid black;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfkvfy-FDsoFJ1jp0AGRPLN01ZvXMS7O4kOcjbz2ygGsAv9Tl0Ag);
margin-right: 0px;
}

.item {
  width: 950px;
  height: 225px;
}

#full {
border: 3px solid black;
background: #0060f5;
height: 1000px;
width: 1000px;
}

#half {
border: 3px solid black;
background: #ffff5a;
width: 750px;
height: 1025px;
margin-top: 150px;
}

#man {
 margin-top: 300px;
}

iframe {
  float: right;
}

#video{
  margin-bottom: 285px;
}

#video2 {
  margin-top: 380px;
}

#noon {
  color:  white;
  font-size: 13px;
  margin-bottom: 60px;
  margin-top: 30px;
}

#ready {
  color: white;
float: left;
}
#toot {
  width: 450px;
  height: 250px;
}

#depth {
  background-image: url(https://img.freepik.com/free-vector/metal-background-with-a-spotlight_1053-137.jpg?size=338&ext=jpg);
  font-style: oblique;
  width: 580px;
  border: 3px solid black;
}

/* Contact Page */

.phone {
  text-decoration: none;
  color: black;
}

.phonenumber {
  transform: translate(950px, -340px);
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-decoration-color: black;

}

.phoneicon {
  float: right;
  transform: translate(-450px, -340px);
  height: 60px;
  width: 60px;
}

.mailicon {
  float: right;
  height: 70px;
  width: 70px;
  transform: translate(-385px, -310px);
}

.emailaddress {
  float: right;
  transform: translate(-45px, -300px);
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  overflow: hidden;
}

h1:before,
h1:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 3px;
 position: relative;
 vertical-align: middle;
 width: 25%;
}

h1:before{
  right: 0.5em;
  margin-left: -50%;
}

h1:after{
  left: 0.5em;
  margin-right: -50%;
}

h3 {
  text-align: center;
  font-weight: lighter;
  color: grey;
  font-size: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea:focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 1200px;
  margin: 50px auto 100px auto;
  border-radius: 5px
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 650px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #322f30;

  border: solid 3px #322f30;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea {
  width: 650px;
  max-width: 650px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #322f30;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 3px #322f30;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


#submit {
  width: 650px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #322f30;

  outline:none;
  cursor: pointer;

  border: solid 3px #322f30;
  border-top: none;
}

/* social media buttons vvv */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.socialmediaicons {
  transform: translate(850px, -190px);
}

h1,h2,h3,h4,h5,h6 {
    margin:  1% 0 1% 0;
}

._12 {
    font-size: 1.2em;
}

._14 {
    font-size: 1.4em;
}

ul {
    padding:0;
    list-style: none;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding: 10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 5px;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 5px;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-rss {
    padding: 10px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 5px;
}

.fa-rss:hover {
    background-color: #eb8231;
}

.fa-youtube {
    padding: 10px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 5px;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-linkedin {
    padding: 10px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 5px;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google-plus {
    padding: 10px 7px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 5px;
}

.fa-google-plus:hover {
    background-color: #e25714;
}
