body {
   background-color: white;
}

#im {
  height: 60px;
  width: 60px;
  display: run-in;
}

h2 {
  color: white;
}

.navbar {
  float: right;
  font-size: 20px;
  border: 3px solid black;
  width: 950px;
  position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
    margin-left: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

li .active {
    background-color: #990000;
}

div.menuBar li.active a {
  color: white;
}

 img {
   width: 80px;
   height: 80px;
 }

 p {
   color: white;
   position: relative;
   margin-top: auto;
   display: run-in;
   padding-top: 10px;

 }

 .grid-container {
   background-size: cover;
   width: 1277px;
   height: 163px;
    margin-top: 10px;
   background-repeat: no-repeat;
    z-index: -1;
    border: 3px solid black;
    margin-top: 50px;
 }

.grid-item {
display: inline-grid;
margin-top: 0px;
margin-left: 60px;
float:left;
transition: transform .2s;
}

.grid-item:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#king-kong{
  width: 300px;
  image-resolution: from-image;
  background-blend-mode: soft-light;
  margin-top: 0px;
}

#sizematters {

}

#mix {
  background-image: url(https://www.seachem.com/img/product-images/flourite-black-bulk.jpg);
  color: white;
}
.dropdown {
  margin-top: 20px;
}
button {
  box-shadow: 10px 10px rgba(0,0,0,0.4);
  border: 3px solid black;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/104/054/non_2x/vector-geometric-yellow-background.jpg);
}

.top {
  border: 3px solid black;
  height: 250px;
  background-color: rgb(60, 60, 60);
  background-size: cover;
  background-blend-mode: darken;
  width: 1280px;
  z-index: -1;
  background-repeat: no-repeat;
  }

.contacttop {
  border: 3px solid black;
  height: 175px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  margin-top: 150px;
}

.topnav a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 3px solid black;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background: -moz-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(179,179,177,1)), color-stop(16%, rgba(185,184,169,1)), color-stop(76%, rgba(252,243,70,1)), color-stop(100%, rgba(252,243,70,1)));
  background: -webkit-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -o-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: -ms-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  background: linear-gradient(to bottom, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
  margin-top: 65px;
}
background: rgba(179,179,177,1);
background: -moz-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(179,179,177,1)), color-stop(16%, rgba(185,184,169,1)), color-stop(76%, rgba(252,243,70,1)), color-stop(100%, rgba(252,243,70,1)));
background: -webkit-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -o-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: -ms-linear-gradient(top, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
background: linear-gradient(to bottom, rgba(179,179,177,1) 11%, rgba(185,184,169,1) 16%, rgba(252,243,70,1) 76%, rgba(252,243,70,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b1', endColorstr='#fcf346', GradientType=0 );

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 950px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid black;
  }
}

footer {
background-color: gray;
left: 30px;
bottom: 30px;
 display: block;
 border: 3px solid black;
 margin-top: 25px;
 float: left;
 margin-left: 60px;
}

.nice {
  float: right;
  opacity: .5;
}


.hfoot {
  float: bottom;
  left: 30px;
  bottom: 30px;
  float: right;
   border: 1px solid black;
}
#fudge:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
} {

}
.mind {
  margin-bottom: 90px;
}

#myCarousel {
  height: 225px;
  width: 950px;
  margin-top: 55px;
  margin-left: 10px
}

#idc {
  border: 3px solid black;
  margin-top: 0px;
  height: 1250px;
  width: 1100px;
  margin-left: 85px;
  background-image:url(https://ae01.alicdn.com/kf/HTB1vphKJFXXXXbwXpXXq6xXFXXXY/vinyl-5x7ft-Fashion-Beautiful-Road-Photography-Backdrop-Attractive-Blue-Sky-Photo-Background-For-Outdoors-Film-TV.jpg_640x640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#back {
  background-color: rgb(60, 60, 60);
  background-attachment: fixed;
  position: sticky;
    background-repeat: no-repeat;
  width:1280px;
  height: 1250px;
  background-size: cover;
}



#mochi {
  width: 1280px;;
  height: 100px;
  margin-top: 0px;
  border: 3px solid black;
  background-image: url(https://www.seachem.com/img/product-images/flourite-black-bulk.jpg);
margin-right: 0px;
}

.item {
  width: 950px;
  height: 225px;
}

#full {
border: 3px solid black;
background: #0060f5;x
}

#half {
border: 3px solid black;
background: #ffff5a;
width: 750px;
height: 1025px;
margin-top: 150px;
}

#man {
 margin-top: 300px;
}

iframe {
  float: right;
}

#video{
  margin-bottom: 285px;
}

#video2 {
  margin-top: 380px;
}

#noon {
  color:  white;
  font-size: 13px;
  margin-bottom: 60px;
  margin-top: 30px;
}

#ready {
  color: white;
float: left;
}
#toot {
  width: 450px;
  height: 250px;
}

#depth {
  background-image: url(https://img.freepik.com/free-vector/metal-background-with-a-spotlight_1053-137.jpg?size=338&ext=jpg);
  font-style: oblique;
  width: 580px;
  border: 3px solid black;
  margin-top: 9px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Contact Page */

.contactform {
  transform: translate(-15px, 100px);
}

.contacthead {
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.contactbox {
  transform: translate(93px, 50px);
  background-color: rgb(60, 60, 60);
  border-style: solid;
  border-width: medium;
  border-color: black;
  height: 500px;
  width: 350px;
  box-shadow: 6px 3px black;
}

.headingbox {
  background-color: rgb(60, 60, 60);
  transform: translate(150px, -900px);
  height: 100px;
  width: 800px;
  border-width: medium;
  border-style: solid;
  border-color: black;
  box-shadow: 6px 3px black;
}



.headingboxtext {
  transform: translate(215px, -970px);
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 880px;
  margin: 90px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 900px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  background-color: white;
  outline: none;
  color: #726659;

  border: solid 3px black;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background-color: white;
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 900px;
  max-width: 900px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background-color: white;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 3px black;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background-color: white;
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 900px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline:none;
  cursor: pointer;
  border: solid 3px black;
  border-top: none;
  background-color: white;
}

#submit:hover {
  color: grey;
}


/* socia media icons */


.social {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translate(-100px, 860px);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 50px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 10px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.youtube {
  background-color: red;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}

/* info box */

.phoneicon {
  transform: translate(125px, -530px);
}

.pnumber {
  text-decoration: none;
  transform: translate(235px, -600px);
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.locationicon {
  transform:translate(124px, -510px);
}

.locationtext {
  transform: translate(213px, -581px);
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.locationtext2 {
  transform: translate(260px, -589px);
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.mailicon {
  transform: translate(124px, -510px);
}

.mailtext {
  transform: translate(229px, -574px);
  color: white;
  font-weight: bold;
}

#contactmap {
transform: translate(490px, -990px);
border:3px solid black;
box-shadow: 6px 3px black;
}



/* contact page end */

/* AboutUs Page */


#dorame {
  width: 350px;
  height: 500px;
  margin-left: 50px;
  border: 3px solid black;
  margin-top: 50px;
}

#nicely {
  width: 300px;
  height: 300px;
  margin-left: 20px;
}

#waffle {
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
}

#noon{
  font size: 25px


}

/*Product Page*/


#steam {
  width: 100px;
}

#droptop {
  width: 90px;
}

#skin {
  border: 2px solid black;
}

#bones {
  border: 2px solid black;
  margin-top: 100px;
}

#sell {
background-color: grey;
}
 #maxis {
   margin-right: 20px;
 }

#next {
  margin-right: 50px;
}

#gyo {
margin-right: 50px;
}
